# macOS
.DS_Store
**/.DS_Store

# Xcode - User settings
xcuserdata/

# Xcode - Temporary files
*.xcuserstate

# Build folders
build/
DerivedData/

# CocoaPods
Pods/

# Swift Package Manager
.swiftpm/
